div.search {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png');
    background-size: repeat;
    box-shadow: inset 0px 0px 20px 22px rgba(255,255,255,1);
}
